
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js" defer></script>
</head>
<body>
<div class="container" action="/addtask" method="post">
    <h1>Add Task</h1>
    <form id="addTaskForm">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>

        <label for="deadline">Deadline</label>
        <input type="date" id="deadline" name="deadline" required>

        <label for="priority">Priority</label>
        <select id="priority" name="priority" required>
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
        </select>

        <label for="category">Category</label>
        <select id="category" name="category" required>
            <option value="CATEGORY_1">Category 1</option>
            <option value="CATEGORY_2">Category 2</option>
            <option value="CATEGORY_3">Category 3</option>
            <option value="CATEGORY_4">Category 4</option>
            <option value="test">Test</option>
        </select>

        <label for="status">Status</label>
        <select id="status" name="status" required>
            <option value="PENDING">Pending</option>
            <option value="IN_PROGRESS">In Progress</option>
            <option value="COMPLETED">Completed</option>
        </select>

        <label for="assignedTo">Assign To</label>
        <input type="text" id="assignedTo" name="assignedTo" required>
<!--        <label for="username">Assign To (Username):</label>-->
<!--        <input type="text" id="username" name="username" required><br><br>-->

        <button type="submit">Add Task</button>
    </form>
</div>
<script>
    document.getElementById('addTaskForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const deadline = document.getElementById('deadline').value;
        const priority = document.getElementById('priority').value;
        const category = document.getElementById('category').value;
        const status = document.getElementById('status').value;
        const assignedTo = document.getElementById('assignedTo').value;

        fetch('/tasks', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ title, description, deadline, priority, category, status, assignedTo })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('Task added successfully');
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Task added successfully');
        });
    });
</script>
</body>
</html>

