<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Manager Dashboard</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Manager Dashboard</h1>-->
<!--<a href="/manager/adduser">Add User</a>-->
<!--<a href="/manager/tasks">View Tasks</a>-->
<!--<a href="/manager/tasks/new">Create Task</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager Dashboard</title>
</head>
<body>
<h1>Manager Dashboard</h1>
<nav>
    <ul>
        <li><a href="/manager/adduser">Add User</a></li>
        <li><a href="/manager/users">View Users</a></li>
        <li><a href="/manager/tasks">View Tasks</a></li>
        <li><a href="/manager/tasks/new">Create Task</a></li>
    </ul>
</nav>
</body>
</html>
