<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form id="registerForm" action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>

    <label for="role">Role:</label>
    <select id="role" name="role">
        <option value="ROLE_USER">User</option>
        <option value="ROLE_ADMIN">Manager</option>
    </select><br>

    <button type="submit">Register</button>
</form>

<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const role = document.getElementById('role').value;

        const registerData = {
            username: username,
            password: password,
            role: role
        };

        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(registerData)
        })
        .then(response => {
            alert("User registered successfully!");
        });


    });
</script>

</body>
</html>
